button {
    border-radius: 25px;
    background-color: pink;
    width: 150px;
    height: auto;
    font-size: xx-large;
}

button:hover {
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

